<% if @taskposts.any? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>id</th>
        <th>ステータス</th>
        <th>タスク</th>
      </tr>
    </thead>
    <tbody>
      <% @taskposts.each do |taskpost| %>
      <% user = taskpost.user %>
        <tr>
          <td><%= link_to taskpost.id, taskpost %></td>
          <td><%= taskpost.status %></td>
          <td><%= taskpost.content %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div>
    <%= paginate @taskposts %>
  </div>
<% end %>


<%= link_to '新規タスクの登録', new_task_path, class: "btn btn-primary" %>